.activeNav{color:#eb656e;}
.sansMarg{

  margin-right: -30px;
}
.sideHeader  {

    background-color: #be000e;
    color: black;
    font-weight: bold;
    font-size:1.5 em;
      }
      a:hover {
    color:  #eb656e;
  }

  a:link {
    text-decoration: none;
  }
  
  .sideFocus
{
  background-color: #172935;

}


  .headerStyle{

    background-color: #172935;
    color: #ffffff;
    /* padding-bottom: 10px;
    margin-bottom: 9px; */
    padding-top: -2px;
    padding-bottom: -25px;
    margin-bottom: 3px;
  }



.menuHeader
{
  background-color: #172935;
 
}

  a:hover {
    color:  #eb656e;
  }
  small {
    font-size: 65%;
    font-weight: 400;
    line-height: 1;
    color: #777;
}

#navBarText{
    margin-top:12px;
}
a{
  color: black;

}


.navItemColor{

  color:#ffffff;

}
#header{

    background-color: #172935;
    color:#ffffff;
    padding-bottom:19px;
    margin-bottom:17px;

}

#ButtonValider

{

  border-radius:100px;
  background-color: #be000e;
  border-color: #be000e;
  padding-left: 15px;
  padding-right:15px;
}

#ButtonTelecharger
{
  color:#fff;
  border-radius:100px;
  background-color: #be000e;
  border-color: #be000e;
  padding-left: 15px;
  padding-right:15px;
}

@keyframes lds-flickr-opacity {
  0% {
    -webkit-transform: translate(0 0);
    transform: translate(0 0);
    opacity: 1;
  }
  49.99% {
    opacity: 1;
    -webkit-transform: translate(80px, 0);
    transform: translate(80px, 0);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(80px, 0);
    transform: translate(80px, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
/**LOADER STYLE*/
@-webkit-keyframes lds-flickr-opacity {
  0% {
    -webkit-transform: translate(0 0);
    transform: translate(0 0);
    opacity: 1;
  }
  49.99% {
    opacity: 1;
    -webkit-transform: translate(80px, 0);
    transform: translate(80px, 0);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(80px, 0);
    transform: translate(80px, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes lds-flickr {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(80px, 0);
    transform: translate(80px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-webkit-keyframes lds-flickr {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(80px, 0);
    transform: translate(80px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
.lds-flickr {
  position: relative;
}
.lds-flickr div {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  top: 60px;
  left: 20px;
}
.lds-flickr div:nth-child(1) {
  background: #d9541e;
  -webkit-animation: lds-flickr 2.7s linear infinite;
  animation: lds-flickr 2.7s linear infinite;
  -webkit-animation-delay: -1.35s;
  animation-delay: -1.35s;
}
.lds-flickr div:nth-child(2) {
  background: #172935;
  -webkit-animation: lds-flickr 2.7s linear infinite;
  animation: lds-flickr 2.7s linear infinite;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.lds-flickr div:nth-child(3) {
  background: #d9541e;
  -webkit-animation: lds-flickr-opacity 2.7s linear infinite;
  animation: lds-flickr-opacity 2.7s linear infinite;
  -webkit-animation-delay: -1.35s;
  animation-delay: -1.35s;
}
.lds-flickr {
  width: 106px !important;
  height: 106px !important;
  -webkit-transform: translate(-53px, -53px) scale(0.53) translate(53px, 53px);
  transform: translate(-53px, -53px) scale(0.53) translate(53px, 53px);
}
/**/

.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}



/**SIDE BAR DESIGN**/

#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 250px;
    margin-top: 60px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: #cdc4
}


.sidebarMenuInner{
    margin:100;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: #fff;
}
.sidebarMenuInner li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}