.sidenav {
    margin-top:70px;
    height: 100%;
    width: 197px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, rgba(7,15,22,1) 0%, rgba(20,36,48,1) 46%, rgba(23,41,53,1) 83%);    overflow-x: hidden;
    padding-top: 20px;
    border-top:black solid 5px;
    font-family: 'Open Sans', sans-serif;
    z-index: 3;
  }
  
  .sidenav .activeNav 
  {
    background-color:#d9541e;
    color: white;
    border:#d9541e solid 1px ;
  }

  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 1em;
    color: #818181;
    display: block;
    border: 1px solid #172e3d ;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
  -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
  }
  
  

  
  .sidenav a:hover {
    background: rgba(255, 255, 255, .05);
  }
  
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
     /* Increased text to enable scrolling */
    padding: 0px 10px;

  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    .main{margin-top:500%}
  }